/* Before We Begin...
    1. This is for Beginners
    2. Continued form HTML Crash Course
    3. Everyone's CSS is different
    4. NOT covering flexbox, animation, etc
    5. We can't cover everything
*/


/* What is CSS?
    1. Cascading Stylesheets
    2. NOT a programming language
    3. Stylesheet/Styling language
    4. Used for webiste layout and design
    5. Can be extended with SASS
*/


/* Methods For Adding CSS
    1. Inline CSS: Directly in the html element (NO!)
    2. Internal CSS: Using <style> tags within a single document
    3. External CSS: Linking an external .css file
*/

/* CSS Selector
    a {background-color: yellow; }
    h1{
    color: red;
}
*/
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

a:visited{
  color #000;  
}

body{
 background-color: #f4f4f4;
 color: #555555;

 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: normal;
 line-height: 1.6em;
 margin:0;
}

/* Color In CSS
    1. Color Names body{ color: red; background: coral;}
    2. HTML5 Color names
    3. Hexadecimal h1{color: #00ff00;}
    4. RGB: p{color: rgb(0,0,255);
*/

.box-1{
    background-color: #333;
    color:#fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    /* Same as aboce*/
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    border: 5px black solid;
    
    padding: 20px;

    margin-top: 20px;
    margin: 20px, 0;
}

.container{
    width: 80%;
    margin: auto;
}

.clr{
    clear: both;
}

.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 1em;

}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;

}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: square;
    padding-left: 20px;
}

.categories li{
    padding-bottom: 8px;
    border-bottom: dotted 1px #333;
    list-style-image: url();
}

.myForm{
    padding: 20px;
}

.myForm .form-group{
    padding-bottom: 15px;
}

.myForm label{
    display: block;
}

.myForm input[type="text"], .myForm textarea{
    padding: 8px;
    width: 100%;
}

.myForm input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
#main-block{
    float: left;
    width: 70%;
}
#sideBar{
    float: right;
    width: 30%;
    background-color: #333;
    color:#fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url("/icon/bgimage.jpg");
    background-position: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.p-box h1{
    position: absolute;
    top: 40px;
    left: 60%;
}
.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.myList li:first-child{
    background: red;
}

.myList li:last-child{
    background: gray;
}

.myList li:nth-child(6){
    background: cornflowerblue;
}   